* {
    font-family: 'Red Hat Display', Arial, sans-serif;
}
.wholePageBox{
    width: 820px;
    height: 840px;
}
.overLimitRed {
    background-color: red;
}
.topHeader{
    text-align: center;
    background-color: grey;
    color: white;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
}
.topRowHeader {
    background-color: grey;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}
th {
    background-color: grey;
}
.salaryCalculatorTable {
    width: 90%;
    min-width: 60px;
    text-align: left;
    
}

.employeeHeader{
    margin-top: 50px;
}

.totalMonthly {
    float:right;
}

.deleteButton {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/* .inputFieldBox {
    display:flex;
    gap: 5px;
} */

#submitButton{
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    margin: 5px;
    border-radius: 5px;
}